<turbo-frame id="modal">
  <div class="popup">
    <div class="popup__backdrop"></div>
    <div class="popup__modal">
      <label class="df df-column">
        <span>Email:</span>
        <input name="email" type="email" placeholder="example@gmail.com">
      </label>
      <label class="df df-column">
        <span>Password:</span>
        <input name="password" type="password" placeholder="******">
      </label>
      <button class="btn">Sign in</button>
    </div>
  </div>
</turbo-frame>
