<aside class="b">
  <nav data-permanent>
    <ul class="df df-column">
      <li>
        <a href="/" data-turbo-frame="main">Главная</a>
      </li>
      <li>
        <a href="/about" data-turbo-frame="main">О нас</a>
      </li>
      <li>
        <a href="/todo-list" data-turbo-frame="main">Список дел</a>
      </li>
    </ul>
  </nav>
</aside>