<header data-controller="logger" class="df df-jc-center b">
  <nav>
    <ul class="df">
      <li>
        <a data-turbo-frame="main" href="/">Главная</a>
      </li>
      <li>
        <a data-turbo-frame="main" href="/about">О нас</a>
      </li>
      <li>
        <% if (isAuth) { %>
        <a data-turbo-frame="modal" href="/about">Список дел</a>
        <% } else { %>
        <a data-turbo-frame="modal" href="/login">Список дел</a>
        <% } %>
      </li>
    </ul>
  </nav>
</header>
