<!-- <turbo-frame id="main"
data-turbo-action="advance"> -->
<main class="df df-column b">
  <h2>О нас</h2>
  <p>Мы команда профессионалов, занимающаяся разработкой веб-приложений.</p>
</main>
<!-- </turbo-frame> -->